:root {
    --primary-heading: 2rem;
    --secondary-heading: 1.75rem;
    --tertiary-heading: 1.125rem;
    --simple-text: 1rem;
    --sub-text: 0.8125rem;
    --font-family: 'Inter', sans-serif;
    --regular-font-weight: 400;
    --bold-font-weight: 700;
    --black-font-weight: 900;
}

.primary-heading {
    display: flex;
    font-size: var(--primary-heading);
    font-weight: var(--black-font-weight);
    color: var(--dark-theme-primary-text-color);
}

.secondary-heading {
    display: flex;
    font-size: var(--secondary-heading);
    font-weight: var(--bold-font-weight);
    color: var(--dark-theme-primary-text-color);
}

.tertiary-heading {
    display: flex;
    font-size: var(--tertiary-heading);
}

.docs-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    height: auto;
    padding: 1rem;
    font-size: var(--simple-text);
    line-height: 25px;
    color: var(--dark-theme-sub-text-color);
}

.docs-tip {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    height: auto;
    padding: 1rem;
    background: #323232;
    color: #adb8c3;
    line-height: 20px;
    font-size: var(--simple-text);
    border-radius: 10px;
}

.docs-paragraph {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    height: auto;
    padding: 0 1rem 0 1rem;
    font-size: var(--simple-text);
    line-height: 25px;
    color: var(--dark-theme-sub-text-color);
    /*margin: 0;*/
}
