@import "10-sign-in";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--inter);
  background: var(--primary-bg-color);
}

p {
  font-size: var(--simple-text);
  font-weight: var(--regular-weight);
  color: var(--white);
}

a {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  color: var(--accent-color);
  font-size: var(--simple-text);
  font-weight: var(--regular-weight);
}

a:hover {
  color: var(--dark-accent);
}

#sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 600px;

  .primary-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--primary-heading);
    color: var(--white);
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }

  .buttons-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-sm);
  }

  .help-block {
    display: flex;
    font-size: 0.875rem;
    font-weight: var(--regular-weight);
    color: var(--red);
  }
}