#directory {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  min-height: 600px;
  height: auto;

  .more {
    width: 900px;
    justify-content: flex-start;

    .dropdown-items {
      margin-top: 185px;
    }

    .tertiary-btn {
      height: 40px;
    }
  }
}