#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
    background: var(--primary-bg-color);
}

#header .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

#read {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    background: var(--secondary-bg-color);
    flex-direction: column;
}

#read .buttons-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#read .icon-btn {
    background: #353639;
}

.simple-text {
    margin: 0 1rem 1rem 0;
}

.dropdown {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

.dropdown-items {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 190px;
}


.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 175px;
    height: 30px;
    background: #1a1b1d;
    font-size: var(--sub-text);
    color: var(--sub-text-color);
}

.dropdown-item:hover, .dropdown-item:focus {
    background: var(--blue);
    color: var(--white);
}

.dropdown-item:first-child {
    border-radius: 8px 8px 0 0;
}

.dropdown-item:last-child {
    border-radius: 0 0 8px 8px;
}

.dropdown:hover .dropdown-items {
    display: flex;
}