:root {
    /*Text*/
    --primary-heading: 2rem;
    --secondary-heading: 1.75rem;
    --tertiary-heading: 1.4rem;
    --pre-text: 1.125rem;
    --simple-text: 1rem;
    --sub-text: 0.8125rem;
    --inter: 'Inter', sans-serif;
    --regular-weight: 400;
    --medium-weight: 500;
    --bold-weight: 700;
    --black-weight: 900;
    /*Spacing*/
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
    /*Icons*/
    --icon-xxxs: 8px;
    --icon-xxs: 12px;
    --icon-xs: 16px;
    --icon-sm: 20px;
    --icon-md: 32px;
    --icon-lg: 48px;
    --icon-xl: 64px;
    --icon-xxl: 96px;
    --icon-xxxl: 128px;
    /*Colors*/
    --white: #fff;
    --icon-color: #fff;
    --sub-icon-color: #6F7177;
    --red: #F77069;
    /*Properties*/
    --radius-sm: 5px;
    --radius-md: 8px;
    --radius-lg: 10px;
    --radius-xl: 20px;
    /*Conditions*/
    --primary-focus-shadow: 2px solid var(--accent-color);
    /*Animations*/
    --transition: .2s cubic-bezier(.3,0,.5,1);
}

body {

}

.dark-theme {
    --primary-bg-color: #27282c;
    --secondary-bg-color: #232526;
    --sub-icon-color: #6F7177;
    --text-color: #fff;
    --sub-text-color: #83848f;
    --form-text: #63717f;
    --form-bg: #2b303b;
    --item-shadow: -10px -10px 40px rgba(0, 0, 0, 0.1),
                   10px 10px 40px rgba(26, 27, 31, 0.1);
    --checked-item-hover: -10px -10px 40px rgba(0, 0, 0, 0.25),
                          10px 10px 40px rgba(26, 27, 31, 0.5);
    --form-hover: 5px 5px 20px rgba(18, 18, 18, 0.25);
    --icon-btn-hover: #30363d;
    --button-border-color: #353639;
    --form-border-color: #181818;
    --button-border: 2px solid var(--button-border-color);
    --form-border: 2px solid var(--form-border-color);
    --item-hover:  -5px -5px 40px rgba(0, 0, 0, 0.1),
                   5px 5px 40px rgba(26, 27, 31, 0.1);
}

.light-theme {
    --text-color: #000;
    --sub-text-color: #6B7280;
}

.blue {
    --light-accent: #4F93F7;
    --accent-color: #0F6FFF;
    --dark-accent: #1E6BDD;
    --hover: 5px 5px 20px rgba(15, 111, 255, 0.4);
    --border: 2px solid var(--accent-color);
    --focus: 0 0 0 2px var(--secondary-bg-color),
             0 0 0 3px var(--accent-color);
    --tabs-focus-border: 0 0 0 2px var(--light-accent);
}

/*Spacing classes*/


.top-space-xxxxs {
    margin: var(--space-xxxxs) 0 0 0;
}


.top-space-xxxs {
    margin: var(--space-xxxs) 0 0 0;
}


.top-space-xxs {
    margin: var(--space-xxs) 0 0 0;
}

.top-space-xs {
    margin: var(--space-xs) 0 0 0;
}

.top-space-sm {
    margin: var(--space-sm) 0 0 0;
}

.top-space-md {
    margin: var(--space-md) 0 0 0;
}

.top-space-lg {
    margin: var(--space-lg) 0 0 0;
}

.top-space-xl {
    margin: var(--space-xl) 0 0 0;
}

.top-space-xxl {
    margin: var(--space-xxl) 0 0 0;
}

.top-space-xxxl {
    margin: var(--space-xxxl) 0 0 0;
}

/*Right Spaces*/

.right-space-xxxxs {
    margin: 0 var(--space-xxxxs) 0 0;
}


.right-space-xxxs {
    margin: 0 var(--space-xxxs) 0 0;
}


.right-space-xxs {
    margin: 0 var(--space-xxs) 0 0;
}

.right-space-xs {
    margin: 0 var(--space-xs) 0 0;
}

.right-space-sm {
    margin: 0 var(--space-sm) 0 0;
}

.right-space-md {
    margin: 0 var(--space-md) 0 0;
}

.right-space-lg {
    margin: 0 var(--space-lg) 0 0;
}

.right-space-xl {
    margin: 0 var(--space-xl) 0 0;
}

.right-space-xxl {
    margin: 0 var(--space-xxl) 0 0;
}

.right-space-xxxl {
    margin: 0 var(--space-xxxl) 0 0;
}

/*Left Spaces*/

.left-space-xxxxs {
    margin: 0 0 0 var(--space-xxxxs);
    text-decoration: none;
}


.left-space-xxxs {
    margin: 0 0 0 var(--space-xxxs);
    text-decoration: none;
}


.left-space-xxs {
    margin: 0 0 0 var(--space-xxs);
    text-decoration: none;
}

.left-space-xs {
    margin: 0 0 0 var(--space-xs) 0 0;
    text-decoration: none;
}

.left-space-sm {
    margin: 0 0 0 var(--space-sm);
    text-decoration: none;
}

.left-space-md {
    margin: 0 0 0 var(--space-md);
    text-decoration: none;
}

.left-space-lg {
    margin: 0 0 0 var(--space-lg);
    text-decoration: none;
}

.left-space-xl {
    margin: 0 0 0 var(--space-xl);
    text-decoration: none;
}

.left-space-xxl {
    margin: 0 0 0 var(--space-xxl);
    text-decoration: none;
    padding: 0;
}

.left-space-xxxl {
    margin: 0 0 0 var(--space-xxxl);
    text-decoration: none;
}

/*Bottom Spaces*/

.bottom-space-xxxxs {
    margin: 0 0 var(--space-xxxxs) 0;
}


.bottom-space-xxxs {
    margin: 0 0 var(--space-xxxs) 0;
}


.bottom-space-xxs {
    margin: 0 0 var(--space-xxs) 0;
}

.bottom-space-xs {
    margin: 0 0 var(--space-xs) 0;
}

.bottom-space-sm {
    margin: 0 0 var(--space-sm) 0;
}

.bottom-space-md {
    margin: 0  0 var(--space-md) 0;
}

.bottom-space-lg {
    margin: 0 0 var(--space-lg)  0;
}

.bottom-space-xl {
    margin: 0 0 var(--space-xl) 0;
}

.bottom-space-xxl {
    margin: 0 0 var(--space-xxl) 0;
}

.bottom-space-xxxl {
    margin: 0 0 var(--space-xxxl) 0;
}


/*Top Space*/

/*Typography styles*/

.primary-heading {
    display: flex;
    font-size: var(--primary-heading);
    font-weight: var(--black-weight);
    color: var(--white);
}

.secondary-heading {
    display: flex;
    font-size: var(--secondary-heading);
    font-weight: var(--bold-weight);
    color: var(--white);
}

.tertiary-heading {
    display: flex;
    font-size: var(--tertiary-heading);
    font-weight: var(--bold-weight);
    color: var(--white);
}

.padding {
    padding-right: 48px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    outline: 0;
}

.red-color {
    color: var(--red);
}

.mt0 {
    margin-top: 0;
}

.token-id {
    color: #A390E7;
}

.token-class {
    color: #E3AC65;
}

.token-property, .token-punctuation {
    color: #ACCBCB;
}

.token-string {
    color: #b56e57;
}

.token-comment {
    color: #4D639A;
}

.padding-top-xs {
    padding-top: var(--space-xs);
}

.padding-top-md {
    padding-top: var(--space-md);
}

.padding-left-sm {
    padding-left: var(--space-sm);
}

.padding-left-md {
    padding-left: var(--space-md);
}


.icon-xxxs {
    width: var(--icon-xxxs);
    height: var(--icon-xxxs);
}

.icon-xxs {
    width: var(--icon-xxs);
    height: var(--icon-xxs);
}

.icon-xs {
    width: var(--icon-xs);
    height: var(--icon-xs);
}

.icon-sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
    fill: var(--sub-icon-color);
}

.icon-md {
    width: var(--icon-md);
    height: var(--icon-md);
    fill: var(--icon-color);
}

.icon-lg {
    width: var(--icon-lg);
    height: var(--icon-lg);
}

.icon-xl {
    width: var(--icon-xl);
    height: var(--icon-xl);
}

.icon-xxl {
    width: var(--icon-xxl);
    height: var(--icon-xxl);
}

.icon-xxxl {
    width: var(--icon-xxxl);
    height: var(--icon-xxxl);
}

.mt0 {
    margin-top: 0;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}

.mb0 {
    margin-bottom: 0;
}

.m0 {
    margin: 0;
}

.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.pl1 {
    padding-left: 1rem;
}

.ml1 {
    margin-left: 1rem;
}

.simple-text {
    display: flex;
    font-size: var(--simple-text);
    font-weight: var(--regular-weight);
    color: var(--text-color);
    text-decoration: none;
    margin: 0;
}

.sub-text {
    display: flex;
    font-size: var(--simple-text);
    font-weight: var(--regular-weight);
    color: var(--sub-text-color);
    text-decoration: none;
    margin: 0;
}

.pre-text {
    display: flex;
    font-size: var(--pre-text);
    font-weight: var(--medium-weight);
    color: var(--white);
    text-decoration: none;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: var(--radius-md);
    border: none;
    outline: none;
}

.icon-btn:hover {
    transition: var(--transition);
    background: var(--icon-btn-hover);
}

.icon-btn:hover .icon-sm {
    fill: var(--white);
}

.icon-btn:focus {
    border: var(--border);
    box-sizing: border-box;
}

.load-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: var(--radius-lg);
    border: var(--border);
    outline: none;
    background: var(--secondary-bg-color);
    color: var(--accent-color);
    font-weight: var(--regular-weight);
    font-size: var(--simple-text);
}

.load-more-btn:hover {
    transition: var(--transition);
    box-shadow: var(--hover);
}

.load-more-btn:active {
    background: var(--dark-accent);
    color: var(--white);
}

.load-more-btn:focus {
    transition: var(--transition);
    box-shadow: var(--focus);
    color: var(--white);
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-tab {
    border-radius: 10px 0 0 10px;
}

.tab, .first-tab, .last-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background-color: var(--primary-bg-color);
    border: var(--border);
    font-weight: var(--regular-weight);
    font-size: var(--simple-text);
    color: var(--accent-color);
    box-sizing: border-box;
}

.last-tab {
    border-radius:  0 10px 10px 0;
}

.first-tab:hover, .tab:hover, .last-tab:hover {
    box-shadow: var(--hover);
}

.first-tab:focus, .tab:focus, .last-tab:focus {
    background: var(--accent-color);
    color: var(--white);
    outline: none;
}

.first-tab:active, .tab:active, .last-tab:active {
    background: var(--dark-accent);
    color: var(--white);
}

.icon-block, .item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #353639;
    border-radius: var(--radius-md);
    margin: 0 0 0 1rem;
}

.icon-text-block {
    display: flex;
    flex-direction: row;
}

.items {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: var(--space-md);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 75px;
    flex-direction: row;
    background: var(--primary-bg-color);
    border-radius: var(--radius-lg);
    box-shadow: -10px -10px 40px rgba(0, 0, 0, 0.1),
    10px 10px 40px rgba(26, 27, 31, 0.1);
    text-decoration: none;
}

.item:hover {
    box-shadow: -10px -10px 40px rgba(0, 0, 0, 0.25),
                10px 10px 40px rgba(26, 27, 31, 0.5);
}

.item:focus {
    border: var(--border);
    box-sizing: border-box;
    outline: none;
}

.checked-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 75px;
    flex-direction: row;
    background: var(--dark-theme-secondary-bg-color);
    border-radius: 10px;
    text-decoration: none;
}

.checked-item:hover {
    box-shadow: var(--checked-item-hover);
}

.checked-item:focus {
    transition: var(--transition);
    border: var(--border);
    box-sizing: border-box;
    outline: none;
}

.item-choose-btn, .item-chosen-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: var(--radius-md);
    outline: none;
    font-size: var(--sub-text);
    font-weight: var(--regular-weight);
}

.item-choose-btn {
    border: none;
    font-size: var(--sub-text);
    font-weight: var(--regular-weight);
    color: var(--accent-color);
    background: var(--primary-bg-color);
    border: var(--border);
    opacity: 0;
}

.item-choose-btn:focus {
    opacity: 1;
    transition: var(--transition);
    color: var(--accent-color);
    background: var(--primary-bg-color);
    box-shadow: var(--focus);
}

.item:hover .item-choose-btn {
    opacity: 1;
    position: absolute;
    z-index: 3000;
    margin-left: 480px;
}

.item:hover .item-choose-btn:hover {
    transition: var(--transition);
    box-shadow: var(--hover);
}

.item:hover .item-choose-btn:focus {
    transition: var(--transition);
    color: var(--accent-color);
    background: var(--primary-bg-color);
    box-shadow: var(--focus);
}

.item:hover .item-choose-btn:focus:active {
    transition: var(--transition);
    background: var(--dark-accent);
    color: var(--white);
}

.item-chosen-btn {
    border: none;
    font-size: var(--sub-text);
    font-weight: var(--regular-weight);
    color: var(--white);
    background: var(--accent-color);
}

.item-chosen-btn:hover {
    transition: var(--transition);
    box-shadow: var(--hover);
}

.item-chosen-btn:focus {
    box-shadow: var(--focus);
}

.item-chosen-btn:active {
    background: var(--dark-accent);
}

.item-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
    margin: 0 0 0 var(--space-md);
}

.item-block {
    display: flex;
    flex-direction: row;
}

.manga-directory {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    touch-action: pan-x;
    scroll-direction: horizontal;
    scrollbar-width: none;
}

.manga-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border-radius: var(--radius-lg);
    background: var(--primary-bg-color);
    box-shadow: var(--item-shadow);
}

.manga-item:focus {
    border: var(--border);
    outline: none;
    box-sizing: border-box;
}

.manga-item-img {
    display: flex;
    align-items: flex-start;
    width: 180px;
    height: 200px;
    background: #797979;
    border-radius: var(--radius-sm);
    margin: 10px 10px 0 10px;
}

.manga-item-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.6rem;
    margin: 1rem 0 0 0.625rem;
}

.dropdown {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
}

.dropdown-items {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 190px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 175px;
    height: 30px;
    background: #1a1b1d;
    font-size: var(--sub-text);
    color: var(--sub-text-color);
}

.dropdown-item:hover, .dropdown-item:focus {
    background: var(--accent-color);
    color: var(--white);
}

.dropdown-item:first-child {
    border-radius: 8px 8px 0 0;
}

.dropdown-item:last-child {
    border-radius: 0 0 8px 8px;
}

.dropdown:hover .dropdown-items {
    display: flex;
}

.load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;
    border-radius: var(--radius-sm);
    background: var(--accent-color);
    color: var(--white);
    text-decoration: none;
    margin: 0 var(--space-lg) 0 0;
}

.load-more:hover {
    transition: var(--transition);
    box-shadow: var(--hover);
}

.load-more:focus {
    transition: var(--transition);
    box-shadow: var(--focus);
}

.load-more:active {
    transition: var(--transition);
    background: var(--dark-accent);
}

.icon-btn-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: var(--radius-md);
    background: var(--primary-bg-color);
    border: var(--button-border);
}

.icon-btn-sm:hover, .border-icon-btn:hover {
    border: var(--border);
    color: var(--accent-color);
    background: var(--icon-btn-hover);
    transition-duration: .1s;
}

.btn-block {
    gap: 1rem;
}

.border-icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: var(--radius-md);
    background: var(--primary-bg-color);
    border: 2px solid #353639;
}

.border-icon-btn:hover .icon-sm {
    fill: var(--accent-color);
}

.icon-text-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--sub-text);
    color: var(--sub-text-color);
    padding: 0 0.5rem 0 0.5rem;
    gap: 0.2rem;
    height: 30px;
    width: auto;
    border-radius: var(--radius-md);
    background: var(--primary-bg-color);
    border: var(--button-border);
    text-decoration: none;
}

.icon-text-btn .icon-xxs {
    fill: var(--sub-text-color);
}

.primary-btn, .primary-btn-sm, .primary-btn-md, .primary-btn-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    font-weight: var(--regular-weight);
    font-size: var(--simple-text);
    border-radius: var(--radius-md);
    color: var(--white);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.primary-btn:focus, .primary-btn-sm:focus, .primary-btn-md:focus, .primary-btn-lg:focus {
    color: var(--white);
    box-shadow: var(--focus);
}

.secondary-btn,.secondary-btn-sm, .secondary-btn-md, .secondary-btn-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    font-weight: var(--regular-weight);
    font-size: var(--simple-text);
    color: var(--accent-color);
    border-radius: var(--radius-md);
    border: var(--border);
    outline: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.primary-btn:hover, .primary-btn-sm:hover, .primary-btn-md:hover, .primary-btn-lg:hover,
.secondary-btn:hover,.secondary-btn-sm:hover, .secondary-btn-md:hover, .secondary-btn-lg:hover {
    box-shadow: var(--hover);
}

.secondary-btn:focus, .secondary-btn-sm:focus, .secondary-btn-md:focus, .secondary-btn-lg:focus {
    box-shadow: var(--focus);
    color: var(--accent-color);
}

.primary-btn:active, .primary-btn-sm:active, .primary-btn-md:active, .primary-btn-lg:active,
.secondary-btn:active,.secondary-btn-sm:active, .secondary-btn-md:active, .secondary-btn-lg:active {
    background-color: var(--dark-accent);
    color: var(--white);
    border: none;
    box-shadow: none;
}

.primary-button-sm, .secondary-btn-sm, .tertiary-btn-sm {
    width: 100px;
    height: 30px;
    font-size: var(--sub-text);
}

.primary-btn-md, .secondary-btn-md, .tertiary-btn-md {
    width: 200px;
    height: 35px;
}

.primary-button-lg, .secondary-btn-lg .tertiary-btn-lg {
    width: 300px;
    height: 40px;
}

.tertiary-btn, .tertiary-btn-sm, .tertiary-btn-md, .tertiary-btn-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    font-weight: var(--regular-weight);
    font-size: var(--simple-text);
    color: #585d62;
    border-radius: var(--radius-md);
    outline: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.tertiary-btn:hover, .tertiary-btn-sm:hover, .tertiary-btn-md:hover, .tertiary-btn-lg:hover {
    background: var(--icon-btn-hover);
    color: var(--sub-text-color);
}

.tertiary-btn:focus, .tertiary-btn-sm:focus, .tertiary-btn-md:focus, .tertiary-btn-lg:focus {
    background: var(--accent-color);
    color: var(--text-color);
}

.tertiary-btn:active, .tertiary-btn-sm:active, .tertiary-btn-md:active, .tertiary-btn-lg:active {
    background: var(--dark-accent);
    box-shadow: var(--focus);
    color: var(--white);
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 30px;
    font-size: var(--sub-text);
    color: var(--sub-text-color);
    padding: 0 0.5rem 0 0.5rem;
    background: var(--primary-bg-color);
    border: var(--button-border);
    border-radius: var(--radius-md);
}

.tag:hover, .icon-text-btn:hover {
    border: var(--border);
    color: var(--accent-color);
    background: #212429;
    transition-duration: .1s;
}

.tag:active {
    background: var(--dark-accent);
    color: var(--white);
}

.tag:focus, .icon-text-btn:focus {
    border: var(--border);
    box-shadow: var(--focus);
}

.more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    width: 600px;
    background: var(--secondary-bg-color);
    gap: var(--space-sm);
}

.more .icon-btn {
    background: var(--secondary-bg-color);
}

.more .dropdown-items {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 100px;
}

.date {
    display: flex;
    font-size: var(--simple-text);
    font-weight: var(--regular-weight);
    color: var(--sub-text-color);
    text-decoration: none;
    gap: 1rem;
    margin-left: 350px;
}

.checked-item:hover .date {
    transition: visibility .4ms;
    display: none;
}

.item:hover .date {
    display: none;
}