#notification {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 600px;
    height: auto;
    flex-direction: column;
}

.notification-content {
    width: 900px;
    justify-content: flex-start;
    align-items: flex-start;
}

.notification-content .sub-text {
    flex-wrap: wrap;
}

.notification-content .item {
    width: 900px;
}

.notification-content .buttons-block .secondary-btn-sm {
    color: var(--red);
    border: 2px solid var(--red);
}

.notification-content .buttons-block .secondary-btn-sm:hover {
    box-shadow: 5px 5px 20px rgba(247, 112, 105, 0.4);
}

.notification-content .buttons-block .secondary-btn-sm:active {
    background: var(--red);
    color: var(--white);
}

.notification-content .buttons-block .secondary-btn-sm:focus {
    box-shadow: 0 0 0 2px var(--secondary-bg-color),
                0 0 0 3px var(--red);
}