#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: var(--primary-bg-color);
}

#profile-settings {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 600px;
    background: var(--secondary-bg-color);
}

#profile-settings .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1050px;
    height: auto;
    padding: 2rem;
}